/target/
/test-output/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse project files
.project
.classpath
.settings/

# IDEA project files
.idea/
*.iml
*.iws
*.xml*.html

# Maven
target/
reports/
doc/
test-output/

# Gradle
.gradle/
build/

# OS-specific files
.DS_Store
Thumbs.db