# Ignore compiled files
*.class
*.o
*.out
*.html
*.css
*.xml
*.js
*.xsd

# Ignore log files
*.log

# Ignore directories
/bin/
/target/
/build/
/test-output/

# Ignore specific files
secret.txt
config.yml

# Ignore IDE files
/.idea/
/*.iml
/.classpath
/.project
/.settings/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore environment-specific files
.env